body{
    color:rgb(rgb(85, 85, 85));
    font-family: "Lekton", monospace;
    font-weight: 400;
    font-style: normal;
    background: rgb(254, 241, 243);
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    width:400px;
    margin-left: 100px;
    font-size: 20px;

}

.hero-img{
    width: 600px;
    height:600px;
    background-image: url("images/milkcarton.jpg");
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left:200px;
    

 
}

.hero-intro{
    text-align: center;
    display:flex;

}

.hero{
    display:flex;
    justify-content: center;
    align-items: center;
    height:600px;

}

.nav-juice{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;;
    
 
}

.hero-link{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

